<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6XCPx9ABn6I4Ttjeb9bm3u8l1FlJc2j0</string>
	<key>GCM_SENDER_ID</key>
	<string>605613323591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.risefinance.blink</string>
	<key>PROJECT_ID</key>
	<string>blinkcashadvances</string>
	<key>STORAGE_BUCKET</key>
	<string>blinkcashadvances.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605613323591:ios:891a8b7ed89d20c0118862</string>
</dict>
</plist>